In [5]:
import pandas as pd

countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)

In [6]:
import pandas as pd

names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(counts, names)
    return(medications)

def get_percent(medications, name):
    names = medications.index
    counts = medications.values
    total = counts.sum()
    med_percents = pd.Series(100*counts/total, names)
    return(med_percents.loc[name])    

medications = create_medications(names, counts)
print(medications)
print(get_percent(medications, 'cyntomycin'))

chlorhexidine    15
cyntomycin       18
afobazol          7
dtype: int64
45.0

In [7]:
result = 10
my_dict = {'key_1': 10}
item = my_dict.pop('key_1')
if my_dict:
    result = result + item
else:
    result = result + 1
 
print(result)

11

In [8]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [9]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [53]:
#import numpy as np
melb_data = pd.read_csv('data/melb_data.csv', sep=',', decimal='.')
#a = melb_data.loc[3521, 'Landsize']
#b = melb_data.loc[1690, 'Landsize']
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()
#melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
#melb_data['Type'].value_counts(normalize=True)
#area_median = melb_data['BuildingArea'].median()
#area_mean = melb_data['BuildingArea'].mean()
#print(melb_data['Propertycount'].max())
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

Northern Metropolitan         2737
Southern Metropolitan         2520
Western Metropolitan          2286
Eastern Metropolitan          1167
South-Eastern Metropolitan     387
Eastern Victoria                50
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [21]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

In [27]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()
#student_data.count()
#student_data.info()
#student_data['math score'].mean()
#student_data['race/ethnicity'].value_counts()
#student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()
#student_data[student_data['math score'] == 0].shape[0]
#student_data[student_data['lunch'] == 'standard']['math score'].mean()
#student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
#student_data['parental level of education'].value_counts(normalize=True)
#student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

67.82758620689656